<h1><%= @lesson.name %></h1>

<p><%= @lesson.content %></p>

<p><a href="/lessons">Return to the table of contents</a> |
<a href="/lessons/<%= @lesson.id %>/edit">Edit This Lesson</a> |
<a href="/lessons/<%= @lesson.id %>"
   data-confirm="Are you sure?"
   data-method="delete"
   rel="nofollow">Delete This Lesson</a></p>

<nav class='navbar navbar-fixed-bottom' role="navigation">
  ༺ <a href="/lessons/<%= @previous_lesson.id %>">Previous Lesson</a> | <a href = "/lessons/<%= @next_lesson.id %>">Next Lesson</a> ༻
</nav>
